<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="BloggingContext"
      connectionString="data source=.;initial catalog=Blogging;User Id=sa;Password=Password12;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>